{% extends 'base.html.twig' %}

{% block title %}Concours du moment{% endblock %}

{% block body %}
    <main class="flex-shrink-0">
        <div class="container mentions-legales">
            <h1 class="mt-5">MENTIONS LEGALES</h1>
            <p class="lead">
                Le site web www.infogeography.com est la propriété de la Société Infostat-Marketing, immatriculée au Registre du Commerce et des Sociétés de Nantes – Siren B 410 618 680 – Siret 410 618 680 00020 dont le siège est situé au :
            </p>
            <p class="lead">
                8 Grande Rue <br>
                44320 SAINT-PERE-EN-RETZ (France).            
            </p>
            <p class="lead">
                La réservation des différents Noms de Domaine a été effectuée conformément aux dispositions en vigueur auprès de l’AFNIC.
            </p>
            <p class="lead">
                Conformément à la législation en vigueur, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données nominatives qui vous concernent, en adressant votre demande exclusivement par courrier à Infostat-Marketing.
            </p>
            <p class="lead">
                Infostat-Marketing s’engage en outre à prendre toutes précautions utiles afin de protéger les données à caractère personnel traitées par ses services, et notamment d’empêcher qu’elles ne soient déformées, endommagées ou communiquées à des tiers non autorisés. Nous rappelons que le contenu de ce Site Web peut être modifié ou mis à jour sans préavis et ne correspond en aucun cas à un engagement contractuel.
            </p>
            <p>
                Tout lien avec ce Site Web doit faire préalablement l’objet d’une information adressée par email : crakotoarisoa@infostat.fr, Infostat-Marketing se réservant le droit d’exiger la suppression de ce lien. Ce Site Web constitue une œuvre protégée en France par le Code le Propriété Intellectuelle, et à l’étranger par les conventions internationales en vigueur sur le droit d’auteur. La violation de l’un des droits d’auteur de l’œuvre est un délit de contrefaçon passible, aux termes de l’article L.335-2 du Code de la Propriété Intellectuelle, de 2 ans d’emprisonnement et de 152 450 € d’amende
            </p>
            <p class="lead">
                © Infostat-Marketing – Capital de 7622€ <br>
                RCS Nantes B 410 618 680 (France) <br>
                Adresse : 8 Grande Rue 44320 SAINT-PERE-EN-RETZ <br>
                Tél :  02 51 74 11 68 <br>
                Fax : 02 51 74 11 87

            </p>
            <p class="lead">
                Images : Icons made by Freepik from www.flaticon.com <br>
                Tous droits réservés – Reproduction partielle ou intégrale interdite sans autorisation écrite

            </p>
        </div>
    </main>
{% endblock %}