{% extends 'base.html.twig' %}

{% block title %}Modify{% endblock %}

{% block body %}
   
       {{ form_start(form) }}
        <div>
            {{ form_widget(form.uplaod ) }}
        </div>
        

    {{ form_end(form) }}
        

{% endblock %}







